.footer {
    width: 100%;
    background: #1d2c4d;
    color: #fff;
    text-align: center;
    padding: 15px 10px;
    font-size: 16px;
    position:fixed;
    bottom: 0;
}

@media (max-width: 768px) {
    .footer {
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .footer {
        font-size: 12px;
        padding: 8px;
    }
}
